.bg-1 {
    background-image: url(../../../public/assets/b3de54256870f445b709a79810a446f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    min-height: 100vh;
    width: 50%;
}

.bg-2 {
    background-image: url(../../../public/assets/glenn-carstens-peters-ZWD3Dx6aUJg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    min-height: 100vh;
    width: 50%;
}

.bg-2 img {
    object-fit: contain;
}

.form-news {
    margin: auto;
    background-color: white;
    width: 90%;
    height: 480px;
    text-align: center;
}

.header-news {
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
}

.header-news-bg {
    background-color: rgba(38, 246, 244, 0.76);
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
    width: 50%;
    margin: auto;
    padding: 15px 0;
}

.form-news .email {
    margin-top: 70px;
    width: 90%;
    height: 50px;
    background-color: #E8E7E7;
    border-radius: 8px;
    border: none;
    font-size: medium;
}

.subscribe {
    margin-top: 70px;
    background-color: rgba(37.08, 236.71, 234.79, 0.76);
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;
}