.hero {
    background-image: url(../../../public/assets/pexels-no-name-66997.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-1 {
    text-align: center;
    font-size: 80px;
    font-style: italic;
    font-weight: 800;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    place-items: center;
    /* margin: auto; */
    padding-top: 300px;
}

.text-2 {
    text-align: justify;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    font-family: sans-serif;
    justify-content: space-evenly;
    display: flex;
    color: white;
    align-items: center;
    place-items: center;
}

.form-1 {
    width: auto;
    height: 100px;
    border: none;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.29);
    color: white;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}

.form-1 input[type=text]:focus {
    border-radius: 0px;
    border: none;
}

.search-btn {
    background-color: rgba(227.36, 89.43, 89.43, 0.38);
    border: none;
    height: 100px;
    padding: 45px;
}

.search {
    text-align: center;
    margin: auto;
    /* background-color: transparent; */
}